/* -----color---
:root{
    --grey-color: var(--Grey-4, #EAEAF4);
    --black-color: var(--Dark, #1D252D);
    --white-color: var(--white-80, #FFFFFFCC);



     --text-xxl: 88px;
        --text-xl: 64px;
        --text-lg: 48px;
        --text-md: 24px;
        --text-sm: 16px;
}
.bg-grey-color{
    background: var(--grey-color);
}
.black-color{
    color: var(--black-color);
}
.bg-white-color{
    background-color: var(--white-color);
}
.font-family{
font-family: "Golos Text", serif;
}
.fx-sm{
    font-size: var(--text-xl);
}
.fs-lg{
    font-size: var(--text-lg);
}
.bg-black{
        background: var(--black-color);
}
.color-white{
    color: var(--white-color);
}
.fs-xl{
    font-size: var(--text-xl);
}

:root {
    /* font-family */
    /* --font-family-primary: "Golos Text", serif; */
    /***** color *****/
    /* --bg-color: #EAEAF4;
    --color-dark: #1D252D;
    --color-white-10: #FFFFFF1A;
    --white-30: #FFFFFF4D;
    --white-15: #FFFFFF26;
    --color-white-50: #FFFFFF80;
    --color-white-80: #FFFFFFCC;
    --color-dark-25: #1D252D40;
    --color-white: #FFFFFF;
    --bg-grey-dark: #141414;
    --grey-3: #E7E6EB;
    --grey: #B0B1B7; */
    /***** font-size *****/
    /* --fs-sm: 14px;
    --fs-base: 18px;
    --fs-md: ;
    --fs-lg: 48px;
    --fs-xl: 88px;
}

**** font-family ****
.font-family-primary {
    font-family: var(--font-family-primary);
} */

/***** color *****/
/* .bg-color {
    background-color: var(--bg-color);
}

.color-dark {
    color: var(--color-dark);
}

.color-white-50 {
    color: var(--color-white-50);
} */

/***** font-size *****/

/* .fs-sm {
    font-size: var(--fs-sm);
}

.fs-base {
    font-size: var(--fs-base);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

@media (max-width:991.98px) {
    :root {
        --fs-xl: 64px;
    }
}

@media (max-width:575.98px) {
    :root {
        --fs-lg: 38px;
        --fs-xl: 48px;
    }}  */





        /* -----color--- */
        :root {
            --grey-color: var(--Grey-4, #EAEAF4);
            --black-color: var(--Dark, #1D252D);
            --white-color: var(--white-80, #FFFFFFCC);
    
    
    
            --text-xxl: 88px;
            --text-xl: 64px;
            --text-lg: 48px;
            --text-md: 24px;
            --text-sm: 16px;
        }
    
        .bg-grey-color {
            background: var(--grey-color);
        }
    
        .black-color {
            color: var(--black-color);
        }
    
        .bg-white-color {
            background-color: var(--white-color);
        }
    
        .font-family {
            font-family: "Golos Text", serif;
        }
    
        .fx-sm {
            font-size: var(--text-xl);
        }
    
        .fs-lg {
            font-size: var(--text-lg);
        }
    
        .bg-black {
            background: var(--black-color);
        }
    
        .color-white {
            color: var(--white-color);
        }
    
        .fs-xl {
            font-size: var(--text-xl);
        }
    