  /* -----color--- */
        :root {
            --grey-color: var(--Grey-4, #EAEAF4);
            --black-color: var(--Dark, #1D252D);
            --white-color: var(--white-80, #FFFFFFCC);
    
    
    
            --text-xxl: 88px;
            --text-xl: 64px;
            --text-lg: 48px;
            --text-md: 24px;
            --text-sm: 16px;
        }
    
        .bg-grey-color {
            background: var(--grey-color);
        }
    
        .black-color {
            color: var(--black-color);
        }
    
        .bg-white-color {
            background-color: var(--white-color);
        }
    
        .font-family {
            font-family: "Golos Text", serif;
        }
    
        .fx-sm {
            font-size: var(--text-xl);
        }
    
        .fs-lg {
            font-size: var(--text-lg);
        }
    
        .bg-black {
            background: var(--black-color);
        }
    
        .color-white {
            color: var(--white-color);
        }
    
        .fs-xl {
            font-size: var(--text-xl);
        }
    