@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

.box {
    border: 0.5px solid var(--Dark---10, #0000001A);
    width: 149.4261474609375;
    height: 45.500003814697266;
    top: 0.25px;
    left: 0.25px;
    border-width: 0.5px;
}

.gap-30 {
    gap: 30px;
}

.list-style {
    list-style-type: none;
}

.key {
    padding: 12px 16px;
    border-radius: 24px;
    font-weight: 400;
    background: var(--white-80, #FFFFFFCC);
    z-index: 1;
}


.links:hover {
    text-decoration: underline;
}

.box {
    background: var(--white-15, #FFFFFF26);
    border: 1px solid var(--white-30, #FFFFFF4D)
}

.fw-400 {
    font-weight: 400;
}

.lh-24 {
    line-height: 24px;
}

.ml-70 {
    margin-bottom: 70px;
}

.text-decoration {
    text-decoration: none;
}

.ml-150 {
    margin-left: 150px;
}

.gap-60 {
    gap: 60px;
}

.btn {
    padding: 12px 24px;
    border: 1px solid var(--dark-25, #1D252D40);
    background: var(--white-10, #FFFFFF1A);
    border-radius: 50px;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.bg-img {
    background-image: url(/assets/images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 100px;
    opacity: 100%;
}

.max-w-238 {
    max-width: 238px;
}

.text {
    line-height: 23px;
    margin-top: 70px;
    position: absolute;
    font-family: 'Golos Text';
    letter-spacing: -0.02em;
    font-feature-settings: 'liga' off;

    color: #FFFFFF;
}

.span {
    font-family: Golos Text;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.72px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.pt-80 {
    padding-top: 80px;
}

.pt-50 {
    padding-top: 50px;
}

.max-w-140 {
    max-width: 140px;
}

.complete {
    width: 140px;
    border-radius: 34px;
    padding: 8px 14px;
    background: var(--white-15, #FFFFFF26);
    border: 1px solid var(--white-40, #FFFFFF66);
    z-index: 1;

}
.five{
    padding: 12px 16px;
      border: 1px solid #CCCADA;
        border-radius: 34px;
        z-index: -1;
}

.complete:hover {
    color: #000000;
}

.max-w-705 {
    max-width: 705px;
}

.heading {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    font-size: 88px;
    line-height: 88px;
    opacity: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -3px;
}

.mt-40 {
    margin-top: 40px;
}

.elevate {

    width: 110px;
    padding: 12px 14px;
    border: 1px solid var(--white-30, #FFFFFF4D);
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    background: var(--white-10, #FFFFFF1A);
    color: #FFFFFF;
    right: 0;
    margin-top: 70px;
    margin-left: 80px;


}

.btn-1 {
    margin-top: 30px;
    padding: 16px 24px;
    border: none;
    z-index: 1;
    background: #1D252D;
    color: #FFFFFF;
    border-radius: 50px;
    z-index: 1;
}

.btn-1:hover {
    color: #000000;
    background: #F2F0FE;
}

.flex-column {
    flex-direction: column;
}


.border {
    border-right: 1px solid rgba(29, 37, 45, 0.1);

}


.ml-150 {
    margin-left: 150px;
}

.number {
    font-family: Golos Text;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0px;
    color: var(--Dark, #1D252D);
}

.mt-140 {
    margin-top: 140px;
}

.more {
    line-height: 23px;
    letter-spacing: -0.02em;
    font-feature-settings: 'liga' off;
  color: #1D252D;
}

.gap-40 {
    gap: 40px;
}

.box-5 {
    padding: 12px 16px;
    gap: 32px;
    border: 1px solid #CCCADA;
    border-radius: 34px;
    z-index: 1;
}

.section-2 {

    max-width: 619px;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -2px;
    font-feature-settings: 'liga' off;
    color: #1D252D;
}

.card {
    background: linear-gradient(180deg, #F2F0FE 0%, #F6F9FF 100%);
    border: 1px solid #E9E6F7;
    max-width: 262.0425109863281;
    padding: 10px;
    border-radius: 8px;
    flex: 1;
    height: 100%;
    width: 318px;
}

.max-w-244 {
    max-width: 244px;
}


.step {
    background: var(--White, #FFFFFF);
    padding: 8px 15px;
    border: 1px solid var(--White, #FFFFFF);
    max-width: 100px;
    font-style: normal;
    font-weight: 500;
    border-radius: 34px;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
}

.step:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.pt-120 {
    padding-top: 120px;
}

.no {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
   color: #1D252D;

}

.color-grey {
    color: grey;
}

.fast {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.01em;
   color: rgba(29, 37, 45, 0.7);
}

.gap-8 {
    gap: 8px;
}

.my-file {
    display: flex;
    gap: 8px;
    background: var(--white-40, #FFFFFF66);
    height: 100%;
}

.max-w-515 {
    max-width: 515px;
}

.para {

    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.pt-16 {
    padding-top: 16px;
}

input[type="email"] {
    text-align: left;
    padding: 16px 46px 16px 24px;
    border: 1px solid var(--White, #FFFFFF);
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background-color: #000000;
    z-index: 1;
    color: rgba(255, 255, 255, 0.5);

}

.mt-70 {
    margin-top: 70px;
}

.Subscribe {
    padding: 16px 24px;
    border: 1px solid var(--White, #FFFFFF);
}

.max-w-480 {
    max-width: 480px;
}

.stay {

    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
}

.pb-24 {
    padding-bottom: 24px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.stone {

    max-width: 320px;
    opacity: 50%;
    width: 100%;
}

.stone-1 {
    max-width: 320px;
    width: 100%;
    margin-top: 250px;
    z-index: -1;
}

.gap-90 {
    gap: 90px;
}

.display {
    display: flex;
}

.mt-80 {
    margin-top: 80px;
}


.wrap {
    flex-wrap: wrap;
}


.gap-120 {
    gap: 190px;
}

.z-1 {
    z-index: -1;
}

.shadow {
    opacity: 50%;
    right: 0;
    transform: translateY(-220px);
    z-index: -1;
}
.slick-track {
    height: 100% !important;
}
@media(max-width: 1246px) {
    .ml-150 {
        margin-left: 100px;
    }

    .gap-30 {
        gap: 20px;
    }

    .elevate {
        margin-left: 20px;
    }

}

@media(max-width: 1170px) {
    .ml-150 {
        margin-left: 40px;
    }



}

@media (max-width:991.98px) {

    .menu-list {
        flex-direction: column;
        position: fixed;
        justify-content: center;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: #FFFFFF;
        transition: right 200ms linear;
        z-index: 5;


        ul {
            flex-direction: column;

        }
    }

    .menu-list.show {
        right: 0;
    }

    .menu-icon {
        display: flex;
        width: 40px;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 99;
        margin-top: 10px;

        span {
            width: 100%;
            height: 5px;
            background-color: #000000;
            border-radius: 4px;
            transition: all 200ms linear;
        }
    }

    .menu-icon.active span:first-of-type {
        transform: rotate(40deg);
        transform-origin: left;
    }

    .menu-icon.active span:nth-child(2) {
        height: 0;
    }

    .menu-icon.active span:last-of-type {
        transform: rotate(-40deg);
        transform-origin: left;
    }

    .heading {
        font-size: 66px;
    }

    .none {
        display: none;
    }

    /* .wrap {
            flex-wrap: wrap;
        } */

}

@media(max-width:768px) {
    .heading {
        font-size: 56px;
    }

    .display {
        display: unset;
    }

    input[type="email"] {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .mb-40 {
        margin-bottom: 40px;
    }
}